@import './imports/resets';
@import './imports/fonts';
@import './imports/icons';
@import './imports/header';
@import './imports/footer';
@import './imports/sections';
@import './imports/modal';
@import './plugins/slick';

.wrapper {
  flex: 1;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.shell {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}