@import './imports/resets';
@import './imports/fonts';

.wrapper {
  flex: 1;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.shell {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}