.header {
  display: flex;
  position: relative;
  flex-direction: column;
}

.header__upper {
  color: #fff;
  padding: 8px 0;
  background: #041E50;
  text-transform: uppercase;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } ul > li {
    display: flex;
    position: relative;
    align-items: center;
    &:not(:last-child)::after {
      content: '';
      top: 2px;
      right: -74px;
      width: 1px;
      height: 17px;
      position: absolute;
      background: #C4C4C4;
    } & > strong {
      font-size: 65%;
      margin-left: 15px;
      letter-spacing: .5px;
    }
  }
}

.header__content {
  color: #041E50;
  border-bottom: 1px solid #C6C6C6;
}

.header__inner {
  display: flex;
  padding: 24px 0;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.header__search {
  width: 100%;
  max-width: 340px;

  .search__form {
    width: 100%;
    position: relative;
  }

  .search__input {
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 75%;
    color: #041E50;
    border-radius: 5px;
    padding: 0 40px 0 25px;
    border: 1px solid #99A4B8;
    &::placeholder {
      opacity: .6;
      color: #041E50;
      text-transform: uppercase;
    } &:focus { border-color: #041E50 }
  }

  .search__submit {
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    position: absolute;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.header__options {
  padding-right: 110px;
  & > ul {
    display: flex;
  } & > ul > li {
    display: flex;
    color: #041E50;
    align-items: center;
    & > span { margin-right: 8px }
  }
}

.header__phone {
  font-size: 85%;
  & > a {
    font-size: 85%;
    color: #041e50;
    letter-spacing: .5px;
  }
}

.header__user {
  display: flex;
  font-size: 65%;
  margin-left: 25px;
  align-items: center;
  & > button { text-transform: uppercase }

  .user__button {
    display: flex;
    color: #041E50;
    flex-direction: column;
  }  
}

.header__cart {
  top: 0;
  right: 0;
  width: 80px;
  height: 107px;
  position: absolute;
  background: #041E50;
  justify-content: center;

  .user__cart {
    font-size: 75%;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    & > p { margin-bottom: 5px }
    & > span:first-of-type { margin-bottom: 10px }
  }
}

.header__navigation {
  padding: 15px 0;
  nav > ul {
    display: flex;
    align-items: center;
    padding-right: 125px;
    justify-content: space-between;
    & > li > a {
      font-size: 65%;
      font-weight: 700;
      color: #041e50;
      letter-spacing: .5px;
      text-transform: uppercase;
      font-family: 'Lato Bold', sans-serif;
    }
  }
}