section.banners {
  position: relative;
  img { width: 100% }
  ul > li { display: block }

  .slick-arrow {
    position: absolute;
  }

  .slick-prev {
    top: 250px;
    left: 50px;
    font-size: 0;
    width: $arrow-left-width;
    height: $arrow-left-height;
    background-image: url($sprite-image);
    background-position: $arrow-left-offset-x $arrow-left-offset-y;
  }
  
  .slick-next {
    top: 250px;
    right: 50px;
    font-size: 0;
    width: $arrow-right-width;
    height: $arrow-right-height;
    background-image: url($sprite-image);
    background-position: $arrow-right-offset-x $arrow-right-offset-y;
  }

  ul.slick-dots {
    left: 0;
    right: 0;
    bottom: 20px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    & > li {
      margin: 0 5px;
      display: inline-block;
    } & > li > button {
      font-size: 0;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      border: 1px solid #fff;
      background-color: transparent;
    } & > li.slick-active > button {
      background-color: #fff;
    }
  }
}

section.categories {
  padding: 24px 0 34px 0;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } ul > li {
    opacity: .5;
    text-align: center;
    transition: all 225ms ease-in-out;
    img {
      padding: 8px;
      border-radius: 50%;
      transition: all 225ms ease-in-out;
      border: 1px solid transparent;
    } &:hover {
      opacity: 1;
      transition: all 225ms ease-in-out;
      img {
        transition: all 225ms ease-in-out;
        border: 1px solid #041E50;
      }
    }
  }
  
  .categories__title {
    color: #041E50;
    margin-top: 19px;
    text-transform: uppercase;
  }
}

section.news {
  img { width: 100% }
  ul { display: flex }
  ul > li {
    flex: 1 1 50%;
    position: relative;
  }
  
  .news__text {
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    background: radial-gradient(black, transparent);
  }
  
  .news__title {
    font-weight: 400;
    position: relative;
    letter-spacing: .3em;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-family: 'Lato Light', sans-serif;
    &::after {
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      width: 19px;
      height: 2px;
      background: #fff;
      position: absolute;
      display: block;
      margin: 0 auto;
    }
  }

  .news__heading {
    display: flex;
    font-size: 250%;
    margin-bottom: 25px;
    align-items: center;
    letter-spacing: .3em;
    flex-direction: column;
    & > span {
      font-weight: 400;
      font-family: 'Lato Light', sans-serif;
    }
  }

  .news__button {
    width: 155px;
    height: 50px;
    padding: 15px;
    font-size: 95%;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    letter-spacing: .2px;
    border: 1px solid #fff;
    transition: all 225ms ease-in-out;
    &:hover {
      color: #000;
      background: #fff;
      transition: all 225ms ease-in-out;
    }
  }
}

section.shelf {
  margin: 95px 0 100px 0;

  .shelf__title {
    font-size: 160%;
    color: #041E50;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: .2em;
    text-transform: uppercase;
    & > span { font-family: 'Lato Light', sans-serif }
  }

  .shelf__description {
    color: #222222;
    text-align: center;
    letter-spacing: .1em;
  }

  ul.shelf__list {
    display: flex;
    flex-wrap: wrap;
    margin: 78px 0 0 0;
    justify-content: space-between;
  }

  .shelf__item {
    padding: 15px;
    flex: 0 0 25%;
    text-align: center;
    margin-bottom: 62px;
    border-radius: 5px;
    transition: all 225ms ease-in-out;
    &:hover {
      
      transition: all 225ms ease-in-out;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);

      .product__image > img {
        opacity: .5;
        transform: translate(0, -10px);
        transition: all 225ms ease-in-out;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%);
      }
      
      .product__gradient {
        opacity: 1;
        visibility: visible;
        transition: all 225ms ease-in-out;
      }

      .product__quickview {
        opacity: 1;
        visibility: visible;
        transition: all 225ms ease-in-out;
      }
    }
  }

  .product__image {
    position: relative;
    margin-bottom: 30px;
    & > img {
      margin: 0 auto;
      transition: all 225ms ease-in-out;
    }
  }

  .product__gradient {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden;
    transition: all 225ms ease-in-out;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%);
  }

  .product__quickview {
    left: 0;
    bottom: -15px;
    opacity: 0;
    z-index: 2;
    width: 100%;
    color: #041e50;
    cursor: pointer;
    position: absolute;
    visibility: hidden;
    transition: all 225ms ease-in-out;

    & > label {
      width: 36px;
      height: 36px;
      padding: 10px;
      display: block;
      cursor: inherit;
      margin: 0 auto;
      border-radius: 100%;
      background: #041e50;
      filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.15));
    }

    & > span {
      display: block;
      text-align: center;
      margin-top: 5px;
      font-size: 75%;
      letter-spacing: .1em;
    }

    &:hover { opacity: .8 !important }
  }

  .product__title {
    font-size: 85%;
    color: #041E50;
    font-weight: 700;
    letter-spacing: .1em;
    margin: 14px 0 10px 0;
    font-family: 'Lato Bold', sans-serif;
  }

  .product__description {
    color: #222222;
    font-size: 80%;
    margin-bottom: 10px;
    letter-spacing: .4px;
  }

  .product__price {
    color: #041E50;
    font-size: 120%;
    letter-spacing: .1em;
  }

  .shelf__button {
    margin: 0 auto;
    display: block;
    width: 155px;
    height: 45px;
    padding: 12px;
    color: #041E50;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #041E50;
    text-transform: uppercase;
    transition: all 225ms ease-in-out;
    &:hover {
      color: #fff;
      background: #041E50;
      transition: all 225ms ease-in-out;
    }
  }
}

section.brands {
  margin-bottom: 125px;

  .brands__title {
    font-size: 160%;
    color: #041E50;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: .2em;
    text-transform: uppercase;
    & > span { font-family: 'Lato Light', sans-serif }
  }

  .brands__description {
    color: #A5A5A5;
    text-align: center;
    letter-spacing: .1em;
    margin-bottom: 90px;
  }

  ul.brands__list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & li {
      opacity: .5;
      display: flex;
      justify-content: center;
      filter: grayscale(100%);
      transition: all 225ms ease-in-out;
      &:hover {
        opacity: 1;
        filter: grayscale(0%);
        transition: all 225ms ease-in-out;
      }
    }
  }

  .slick-arrow {
    position: absolute;
  }

  .slick-prev {
    bottom: 20px;
    left: -50px;
    font-size: 0;
    width: $arrow-left-sm-width;
    height: $arrow-left-sm-height;
    background-image: url($sprite-image);
    background-position: $arrow-left-sm-offset-x $arrow-left-sm-offset-y;
  }
  
  .slick-next {
    bottom: 20px;
    right: -50px;
    font-size: 0;
    width: $arrow-right-sm-width;
    height: $arrow-right-sm-height;
    background-image: url($sprite-image);
    background-position: $arrow-right-sm-offset-x $arrow-right-sm-offset-y;
  }

  .slick-list.draggable {
    width: 100%;
  }
}

section.about {
  margin-bottom: 84px;

  .about__title {
    font-size: 160%;
    color: #041E50;
    text-align: center;
    margin-bottom: 33px;
    letter-spacing: .2em;
    text-transform: uppercase;
  }

  .about__description {
    font-size: 80%;
    color: #222;
    line-height: 1.8;
    text-align: center;
    letter-spacing: .4px;
  }
}

section.testimonial {
  margin-bottom: -40px;

  .testimonial__body {
    position: relative;
    padding: 47px 137px;
    border-radius: 5px;
    background: #F7F7F7;

    & ul li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .testimonial__image {
    flex: 1 1 80px;
    margin-right: 12px;
  }

  .testimonial__name {
    flex: 1 1 125px;
    color: #041e50;
  }

  .testimonial__message {
    flex: 1 1 550px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    &:before {
      content: '';
      left: -8px;
      top: 28px;
      width: 16px;
      height: 16px;
      display: block;
      background: inherit;
      position: absolute;
      transform: rotate(45deg);
    } & > p {
      color: #2f2f2f;
      font-size: 75%;
      letter-spacing: .6px;
    }
  }

  .slick-arrow {
    position: absolute;
  }

  .slick-prev {
    top: 80px;
    left: 50px;
    font-size: 0;
    width: $arrow-left-sm-width;
    height: $arrow-left-sm-height;
    background-image: url($sprite-image);
    background-position: $arrow-left-sm-offset-x $arrow-left-sm-offset-y;
  }
  
  .slick-next {
    top: 80px;
    right: 50px;
    font-size: 0;
    width: $arrow-right-sm-width;
    height: $arrow-right-sm-height;
    background-image: url($sprite-image);
    background-position: $arrow-right-sm-offset-x $arrow-right-sm-offset-y;
  }
}